body {
  margin: 0;
  background: linear-gradient(180deg, #0d1b2a, #1b263b, #415a77);
  color: #eee;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;   /* keeps it readable */
  margin: 0 auto;     /* centers it */
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.top-bar {
  background: #1c3655;
  color: #eee;
  padding: 15px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-right: 1px solid #1c3655;
}

.message {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 10px;
}

.user {
  align-self: flex-end;
  background: #1c3655;
}

.ai {
  align-self: flex-start;
  background: #333;
}

.chat-input-area {
  display: flex;
  padding: 15px;
  background: #365272;
  color: #333;
  border: 1px solid #1c3655;
}

.chat-input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  height: 50px;
  border: 1px solid #1c3655;
}

.chat-input-area button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background: #1c3655;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
