*, *::before, *::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
    }
    
    body {
    
    background-image: url("floppy.jpg");
    color: lavender;
    
    }
    
    .home {
    
    background-color: #333333;
    border: 2px solid lavender;
    border-radius:30px;
    display: flex;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    
    }
    
    .privacy {
    
    background-color: #333333;
    border: 2px solid lavender;
    border-radius:30px;
    display: flex;
    height: 100%;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
        
        }

    .privacy-content {
    display: flex;
    flex-direction: column;

    }
    .home-content {
    
    display: flex;
    flex-direction: column;
    
    }
    
    .home-content h1 {
    
    font-size: 80px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    Padding: 20px;
    
    }
    
    .home-content p {
    
    font-size: 25px;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000000;
    padding: 10px;
    text-indent: 10px;
    
    }

    .privacy-content h1 {
    
    font-size: 80px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    Padding: 20px;
        
        }
 .privacy-content h4 {
    color: lightseagreen;
    font-size: 23px;
    text-indent: 10px;

        }

.privacy-content h5 {
    font-size: 20px;
    text-indent: 10px;

        
     }

 .privacy-content h5 a {
    font-size: 20px;
    color: lavender;
    text-decoration: none;
    transition: .3s;
    
            
    }

    .privacy-content h5 a:hover,
    .privacy-content h5 a.active {
    
    color: lightseagreen;
    
    }

.privacy-content h3 {
    font-size: 23px;
    color: lightseagreen;
    text-indent: 10px;
    
    }

    .header {
    
    top: 0;
    left: 0;
    width: 100%;
    padding: 13px;
    text-shadow: 2px 2px 4px #000000;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100px;
    
    }
    
    
    .navbar a {
    
    font-size: 25px;
    color: lavender;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
    
    }
    
    .navtext {
    
    font-size: 25px;
    color: lavender;
    text-decoration: none;
    margin-left: 40px;
    transition: .3s;
    
    }
    
    .navbar a:hover,
    .navbar a.active {
    
    color: lightseagreen;
    
    }
    
    .dropdown {
    position: relative;
    display: inline-block;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    border: 2px solid lavender;
    border-radius:30px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content a {
    color: lavender;
    text-decoration: none;
    font-size: 20px;
    display: block;
    }
    
    .dropdown-content a:hover {background-color: transparent;}
    
    .dropdown:hover .dropdown-content {display: block;}

    .examlink a {
    
    font-size: 25px;
    color: lavender;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
    display: block;
    width: 45%;
    padding: 10px;
            
    }
    
    .examlink a:hover,
    .examlink a.active {
    
    color: lightseagreen;
    
    }
    
    .footer {
    
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 8px;
    border: 2px solid #333333;
    border-top-color: lavender;
    background-color: #333333;
    justify-content: space-around;
    text-align: center;
    
    }
    .footer a {
    
        color: lavender;
        text-decoration: none;
        margin-left: 35px;
        transition: .3s;
        
        }
        
    .footer a:hover,
    .footer a.active {
        
        color: lightseagreen;
        
        }
    
    .exam {
    
    background-color: transparent;
    width: 55%;
    height: 100%;
    margin: 0 auto;
    
    }
    
    .exam-content {
    
    display: flex;
    flex-direction: column;
    
    }
    
    .exam-content h1 {
    
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    
    }
    
    .question-box {
    
    --hue: var(--hue-neutral);
    background-color: #333333;
    border: 2px solid lavender;
    border-radius:30px;
    padding: 20px;
    width: 70%;
    margin: auto;
    
    } 
    
.question-content {

    color: lavender;


}

.question-box h2 {

    font-weight: 20;
    color: lavender;
}

.question-box h3 {

    font-weight: 20px;
    Color: lavender;
    border-bottom: 1px solid lavender;
    padding-bottom: 20px;
    font-size: 20px;
}

.btn {

    background-color: silver;
    color: #333333;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    border: 1px solid #333333;
    padding: 25px;
    Margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    

}

.btn:hover:not([disabled]) {

background: lightseagreen;

}

.btn:disabled{
    cursor:auto;
}

#next-btn {

    background-color: silver;
    color: #333333;
    font-weight: 500;
    font-size: 15px;
    width: 15%;
    border: 1px solid #333333;
    padding: 10px;
    Margin: 20px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

#progress {

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
}
