body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #012456; /* PowerShell background color */
    margin: 0;
    flex-direction: column;
    color: #ffffff; /* PowerShell text color */
    font-family: Consolas, "Courier New", monospace; /* PowerShell font */
}

#title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #00ff00; /* Green color */
}

.score-container {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#gameCanvas {
    border: 1px solid #00ff00; /* Green border to match PowerShell */
    background-color: #012456; /* Match the PowerShell background */
}

#introduction {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff; /* Green color */
    font-family: Consolas, "Courier New", monospace; /* PowerShell font */
    font-size: 18px;
    white-space: pre-line; /* Preserve line breaks */
}
